body{
    background-color: black;
    margin-left:0px !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden;
}
*{
    color: #ececec;
    font-family: Roboto,'Open Sans','Helvetica Neue','sans-serif';
}
