body{
    background-color: black;
    margin-left:0px !important;
    margin: 0px !important;
    padding: 0px !important;
}
*{
    color: #ececec;
    font-family: Roboto,'Open Sans','Helvetica Neue','sans-serif';
}
.sidebar{
    border: 2px solid white;
     height: 44.7rem;
    margin-left:0px !important;
}