.chatwindow {
    height: 100vh;
    margin-left: 45px;
    width: 70rem
}
.Nav {
    height: 2.5rem;
    width: 100%;
    margin: 0.5rem 0;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    margin-top: 23px;
}
.middle{
    margin-left: 28rem;
    background-color: oklab(28.499999999999996% 0.06462 -0.09784);
    width:8rem;
    height:2.3rem;  
    border-radius: 12px;
}
.right{
    display: flex !important;
   flex-direction: row;
    margin-left:auto;
    padding-right: 25px;
    gap:30px
}
.mainArea{
    height: 33rem;
    margin-top: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.10);
}
.chatInp{
    background-color: rgba(255, 255, 255, 0.10);
    height:3.2rem;
    margin-top: 18px;
    border-radius: 15px;
    display: inline !important;
    font-size: 1.2rem;
    width: 40rem;
    text-align: center;
    margin-left: 2.3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px,
}
.chatInp:focus{
    outline: none;
}
.sendIcon{
    margin-top: 2.4rem;
}
.ic{
    color: rgba(255,255,255,0.8);
    font-size: 1.3rem;
    margin-top: 0.9rem;
    padding-top: 1rem;
}
.ic:hover{
    font-size: 1.5rem;
    color: rgb(255,255,255);
}
.btn{
    color: white;
     background-color: rgba(255, 255, 255, 0.10);
    margin-left: 1rem;
    height: 3rem;
    width:6rem;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
}
.btn:hover{
    
    transform: scale(1.02);
}